body {
    background-color: rgb(58, 58, 58);
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.lbl{
    color : #ffffff;
    text-align: center;
}

h2{
    color : #ffffff;
    text-align: center;
}